<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Registro de medico
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon class="iconos" name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label class="normal">Tutor</ion-label>
      <ion-select #valor required placeholder="Escoja un tutor" [value]=1 interface="popover" [(ngModel)]="opcion"
        (ionChange)="cambio(opcion)">
        <ion-select-option *ngFor="let usuario of usuarios">{{usuario.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="normal">Mascota</ion-label>
      <ion-select #valor required placeholder="Escoja la mascota" [value]=1 interface="popover" [(ngModel)]="mascota"
        (ionChange)="mascotaescog(mascota)">
        <ion-select-option *ngFor="let producto of productos">{{producto.nombredelamascota}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="normal">Tipo de registro</ion-label>
      <ion-select #valor required placeholder="Tipo" interface="action-sheet" [(ngModel)]="segmento"
        [disabled]="!mascota || mascota === '0'">
        <ion-select-option value="1">Desparacitacion</ion-select-option>
        <ion-select-option value="2">Vacunacion</ion-select-option>
        <ion-select-option value="3">Consulta</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card> 

  <!-- DESPARACITADA-->
  <ion-card *ngIf="segmento === '1' && mascota != '0' ">
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()">
          <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div style="text-align: center">
      <ion-label>DESPARACITACION </ion-label>
    </div>
    <ion-grid>
      <!-- Columna de la fecha actual-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Fecha:
            </ion-label>
            <ion-datetime-button disabled="true" datetime="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [(ngModel)]="fechaactual" id="date" presentation="date" [showDefaultButtons]="true"
                  doneText="Listo" cancelText="Cancelar"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Columna de la fecha proxima DESPARACITACION-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Proxima desparacitacion:
            </ion-label>
            <ion-datetime-button datetime="proxides"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [min]="today"   [(ngModel)]="desparacitacion.proxi_des" hourValues="8,9,10,11,12,14,15,16,17,18,19"
                displayFormat="YYYY-MM-DDTHH:mm" presentation="date-time" [isDateEnabled]="isWeekday"
                id="proxides" [preferWheel]="true" minuteValues="0"  doneText="Listo" cancelText="Cancelar"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--Peso-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Peso:
            </ion-label>
            <ion-input [(ngModel)]="desparacitacion.peso_des" class="texto" type="text">
            </ion-input>
            <ion-label>kg</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--producto-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Producto:
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea [(ngModel)]="desparacitacion.producto_des" [autoGrow]="true"
              placeholder="Productos aplicados"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align: right; padding-right: 15px; padding-left: 15px;">
      <ion-button expand="block" color="success" class="normal" fill="outline" (click)="setdes()">Guardar</ion-button>
    </div>
  </ion-card>

  <!-- Vacunacion-->
  <ion-card *ngIf="segmento === '2' && mascota != '0'">
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()">
          <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div style="text-align: center">
      <ion-label>VACUNACION</ion-label>
    </div>

    <ion-grid>
      <!-- Columna de la fecha actual-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Fecha:
            </ion-label>
            <ion-datetime-button disabled="true" datetime="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="date" presentation="date" [showDefaultButtons]="true" doneText="Listo"
                  cancelText="Cancelar"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Columna de la fecha proxima vacuna-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Proxima vacuna:
            </ion-label>
            <ion-datetime-button datetime="proximavac"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>

                <ion-datetime [min]="today"  [(ngModel)]="vacunacion.proxi_vac" hourValues="8,9,10,11,12,14,15,16,17,18,19"
                displayFormat="YYYY-MM-DDTHH:mm" presentation="date-time" [isDateEnabled]="isWeekday"
                id="proximavac" [preferWheel]="true" minuteValues="0"  doneText="Listo" cancelText="Cancelar"></ion-datetime>

              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--Peso-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Peso:
            </ion-label>
            <ion-input [(ngModel)]="vacunacion.peso_vac" class="texto" type="text" name="dirrecion">
            </ion-input>
            <ion-label>kg</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--producto-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Vacuna:
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea [(ngModel)]="vacunacion.vacunas" [autoGrow]="true"
              placeholder="Productos aplicados"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="text-align: right; padding-right: 15px; padding-left: 15px;">
      <ion-button expand="block" color="success" class="normal" fill="outline" (click)="setvac()">Guardar</ion-button>
    </div>
  </ion-card>


  <!--CITAS-->
  <ion-card *ngIf="segmento === '3' && mascota != '0'">
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="cancelar()">
          <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <div style="text-align: center">
      <ion-label>Consulta</ion-label>
    </div>

    <ion-grid>
      <!-- Columna de la fecha actual-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Fecha:
            </ion-label>
            <ion-datetime-button disabled="true" datetime="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="date" presentation="date" [showDefaultButtons]="true" doneText="Listo"
                  cancelText="Cancelar"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--Peso-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Peso:
            </ion-label>
            <ion-input [(ngModel)]="citas.pesomas" class="texto" type="text" name="dirrecion">
            </ion-input>
            <ion-label>kg</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Columna de la Motivo-->
      <ion-row>
        <ion-col>
          <ion-item>
            
            <ion-select label="Servicio" #valor required placeholder="Escoja un Servicio" [value]=1 interface="popover"
              [(ngModel)]="citas.motivo_cita" (ionChange)="mascotaescog(mascota)">
              <ion-select-option *ngFor="let servicio of servicios">{{servicio.tipo_servicio}} ${{servicio.precio_servicio}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--OBERERVACION-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Observacion(opcional):
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-textarea [autoGrow]="true" [(ngModel)]="citas.observacion_cita"
              placeholder="Observaciones"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Columna de la Diagnostico-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Diagnostico:
            </ion-label>
            <ion-textarea [(ngModel)]="citas.diagnostico" [autoGrow]="true" placeholder="Diagnostico"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!--OPCIONES EXTRA-->
    <div style="padding: 15px;">
      <ion-card>
        <ion-item>
          <ion-checkbox slot="start" [ngModel]="citas.receta_consul" (ionChange)="cambiociru()"></ion-checkbox>
          <ion-label>Receta</ion-label>
        </ion-item>
        <div *ngIf="valorciru">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="normal">
                  Medicamentos:
                </ion-label>
                <br>
                <ion-textarea [(ngModel)]="receta.medicamento_receta" [autoGrow]="true"
                  placeholder="Medicamento"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label class="normal">
                  Indicaciones:
                </ion-label>
                <br>
                <ion-textarea [(ngModel)]="receta.indicaciones_receta" [autoGrow]="true"
                  placeholder="Indicaciones"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
      <ion-card>


        <ion-item>
          <ion-checkbox slot="start" [ngModel]="citas.hospi_consul" (ionChange)="cambiohospi()"></ion-checkbox>
          <ion-label>Hospitalizacion</ion-label>
        </ion-item>
        <div *ngIf="valorhospi">
          <ion-grid>
            <!-- Columna de la fecha actual-->
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="normal">
                    Fecha de la hospitalización:
                  </ion-label>
                  <ion-datetime-button disabled="true" datetime="date"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime [(ngModel)]="fechaactual" id="date" presentation="date" [showDefaultButtons]="true"
                        doneText="Listo" cancelText="Cancelar"></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--Peso-->
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="normal">
                    Motivo de la hospitalización:
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-textarea [(ngModel)]="hospi.motivo_hospi" [autoGrow]="true" placeholder="Motivo"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
            <!--Peso-->
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="normal">
                    Veterinario tratante:
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-input [(ngModel)]="hospi.medico_hospi" class="texto" type="text" name="dirrecion">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </div>

    <div style="text-align: right; padding-right: 15px; padding-left: 15px;">
      <ion-button expand="block" color="success" class="normal" fill="outline"
        (click)="setconsul()">Guardar</ion-button>
    </div>

  </ion-card>


</ion-content>