<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Carnet
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="carnet"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div>
    <app-vistacarnetmascotas [pro]="mascota"> </app-vistacarnetmascotas>
  </div>

  <ion-card>
    <ion-accordion-group>
      <!--DESPARACITACION-->
      <ion-accordion value="1">
        <ion-item slot="header" color="light">
          <ion-label>Desparacitaciones</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <div class="lista" *ngIf="!listades">
            <ion-label>NO HAY ELEMENTOS EN LA LISTA</ion-label>
          </div>
          <ion-item *ngFor="let desparacitacion of desparacitaciones">
            <app-vistaprevia [des]="desparacitacion">
            </app-vistaprevia>
          </ion-item>
        </div>
      </ion-accordion>

      <!--Vacunacion-->
      <ion-accordion value="2">
        <ion-item slot="header" color="light">
          <ion-label>Vacunas</ion-label>
        </ion-item>




        <div class="ion-padding" slot="content">
          
          <div class="lista" *ngIf="!listavac">
            <ion-label>NO HAY ELEMENTOS EN LA LISTA</ion-label>
          </div>
          <ion-item *ngFor="let vacuna of vacunas">
            <app-vistavacunas [vac]="vacuna">
            </app-vistavacunas>
          </ion-item>
        </div>
      </ion-accordion>

      <!--Citas-->
      <ion-accordion value="3">
        <ion-item slot="header" color="light">
          <ion-label>Citas</ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">

          <ion-segment value="agendada" (ionChange)="changeSegment($event)">
            <ion-segment-button value="agendada">
              <ion-label>Agendadas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="atendida">
              <ion-label>Atendidas</ion-label>
            </ion-segment-button>
          </ion-segment>


          <div class="lista" *ngIf="!listallena" style="padding-top: 25px;">
            <ion-label>NO HAY ELEMENTOS EN LA LISTA</ion-label>
          </div>
          <div *ngIf="listallena">
            <ion-item *ngFor="let cita of Citas">
              <app-vistasimplecitas [cit]="cita"></app-vistasimplecitas>
            </ion-item>
          </div>
        </div>
      </ion-accordion>

    </ion-accordion-group>
  </ion-card>
</ion-content>