<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Perfil de la mascota
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="buscar"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="text-align:center">
            <img [src]="mascota.foto" height="175" width="175">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!--id del registro medico-->
          <ion-item>
            <ion-label class="normal">
              Nombre: {{mascota.nombredelamascota}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Tutor: {{mascota.tutor}}
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="normal">
              Sexo: {{mascota.sexo}}
            </ion-label>
          </ion-item>
        </ion-col>
        <!-- <ion-col>
          <ion-item>
            <ion-label class="normal">
              Edad: {{mascota.fechadenacimiento}}
            </ion-label>
          </ion-item>
        </ion-col>-->
      </ion-row>
    </ion-grid>


  </div>

  <div class="m-2">
    <ion-segment value="1" (ionChange)="cambio($event)">
      <ion-segment-button value="1" (click)="segmento=1">
        <ion-label>Desparacitacion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="segmento=2">
        <ion-label>Vacunas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3" (click)="segmento=3">
        <ion-label>Consultas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="segmento == 1">
    <div class="lista" *ngIf="!listallena">
      <ion-label >NO HAY ELEMENTOS EN LA LISTA</ion-label>
    </div>
    <ion-item *ngFor="let desparacitacion of desparacitaciones" >
      <ion-label>{{desparacitacion.id_des}}</ion-label>
      <ion-label>{{desparacitacion.fecha_des}}</ion-label>
    </ion-item>
  </div>


  <div *ngIf="segmento == 2">
    <div class="lista" *ngIf="!listallena">
      <ion-label >NO HAY ELEMENTOS EN LA LISTA</ion-label>
    </div>
    <ion-item *ngFor="let vacuna of vacunas" >
      <ion-label>{{vacuna.id_vac}}</ion-label>
      <ion-label>{{vacuna.fecha_vac}}</ion-label>
    </ion-item>
  </div>



  <div *ngIf="segmento == 3">
    <div class="lista" *ngIf="!listallena">
      <ion-label >NO HAY ELEMENTOS EN LA LISTA</ion-label>
    </div>
    <ion-item *ngFor="let desparacitacion of desparacitaciones" >
      <ion-label>{{desparacitacion.id_des}}</ion-label>
      <ion-label>{{desparacitacion.fecha_des}}</ion-label>
    </ion-item>
  </div>


</ion-content>