<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon class="iconos" name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row style="text-align: center;">
      <ion-col>
        <div style="padding: 15px; ">
          <img style="height: 200px;" src="assets/imagenes/logo.jpg">
        </div>
        <ion-card>

          <!--sin iniciar sesion-->
          <div *ngIf="!uid.length">

            <!--Nombre -->
            <ion-item *ngIf="ingresarEnable">
              <ion-label class="normal" position="floating">
                Nombre:
              </ion-label>
              <ion-input [(ngModel)]="usuario.nombre" class="texto" type="text" name="name">
              </ion-input>
            </ion-item>

            <!--Telefono-->
            <ion-item *ngIf="ingresarEnable" counter="true">
              <ion-label class="normal" position="floating">
                Celular:
              </ion-label>
              <ion-input maxlength="10" [(ngModel)]="usuario.celular" class="texto" type="number" name="telefono">
              </ion-input>
            </ion-item>

            <!--Dirreccion-->
            <ion-item *ngIf="ingresarEnable">
              <ion-label class="normal" position="floating">
                Direccion:
              </ion-label>
              <ion-input [(ngModel)]="usuario.direccion" class="texto" type="text" name="dirrecion">
              </ion-input>
            </ion-item>

            <!--Correo:-->
            <ion-item>
              <ion-label class="normal"  position="floating">
                Correo:
              </ion-label>
              <ion-input type="email" name="email" [(ngModel)]="usuario.correo" class="texto"  ngModel email>
              </ion-input>
              <ion-note slot="helper">Enter a valid email</ion-note>
              <ion-note slot="error">Invalid email</ion-note>
            </ion-item>

            <!--Contrasenia:-->
            <ion-item>
              <ion-label class="normal">
                Contrasenia:
              </ion-label>
              <ion-input [(ngModel)]="usuario.contrasenia" class="texto" [type]="changetype?'password':'text' "
                name="password">
              </ion-input>
              <ion-icon (click)="cambiodeicono()" slot="end"
                [name]="visible?'eye-off-outline':'eye-outline'"></ion-icon>
            </ion-item>

            <div style="text-align: center; margin: 10px;">
              <ion-button *ngIf="ingresarEnable" (click)="registrarse()" class="normal"
                color="dark">Registrarse</ion-button>
              <!--<ion-button *ngIf="ingresarEnable" (click)="ingresarEnable = false" class="normal" color="dark">o
              ingresar</ion-button>-->
              <ion-button *ngIf="!ingresarEnable" (click)="ingresar()" class="normal" color="dark">Iniciar
                sesion</ion-button>
              <!--<ion-button  *ngIf="!ingresarEnable" (click)="ingresarEnable = true"  class="normal" color="dark">o registrarse</ion-button>-->
            </div>
            <div style="padding-left: 15px;">
              <ion-label *ngIf="!ingresarEnable">¿Ud no tiene una cuenta?</ion-label>
              <ion-chip *ngIf="!ingresarEnable" (click)="ingresarEnable = true" color="dark">Crear cuenta</ion-chip>
            </div>

            <div >
              <ion-label *ngIf="ingresarEnable">O</ion-label><br>
              <ion-chip *ngIf="ingresarEnable" (click)="ingresarEnable = false" color="dark">Iniciar sesion</ion-chip>
            </div>

          </div>

          <!--inicio de sesion-->
          <div *ngIf="uid.length">
            <!--Nombre de la mascota-->
            <ion-item>
              <ion-label class="normal" position="floating">
                Nombre:
              </ion-label>
              <ion-input [(ngModel)]="usuario.nombre" class="texto" type="text">
              </ion-input>
            </ion-item>

            <!--Telefono-->
            <ion-item>
              <ion-label class="normal" position="floating">
                Celular:
              </ion-label>
              <ion-input [(ngModel)]="usuario.celular" class="texto" type="text">
              </ion-input>
            </ion-item>

            <!--Dirreccion-->
            <ion-item>
              <ion-label class="normal" position="floating">
                Direccion:
              </ion-label>
              <ion-input [(ngModel)]="usuario.direccion" class="texto" type="text">
              </ion-input>
            </ion-item>

            <!--Correo-->
            <ion-item>
              <ion-label class="normal" position="floating">
                Correo:
              </ion-label>
              <ion-input [disabled]="true" [(ngModel)]="usuario.correo" class="texto" type="text">
              </ion-input>
            </ion-item>

            <!--Contrasenia-->
            <ion-item>
              <ion-label class="normal" position="floating">
                Contrasenia:
              </ion-label>
              <ion-input [(ngModel)]="usuario.contrasenia" class="texto" [type]="changetype?'password':'text' "
                name="password">
              </ion-input>
              <ion-icon (click)="cambiodeicono()" slot="end"
                [name]="visible?'eye-off-outline':'eye-outline'"></ion-icon>

            </ion-item>


            <div style="text-align: center; margin: 10px;">
              <ion-button (click)="guardarUser()" class="normal" color="dark">Guardar</ion-button>
              <ion-button (click)="salir()" class="normal" color="dark">Salir</ion-button>
            </div>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>







</ion-content>