<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Carnet
    </ion-title> 
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon class="iconos" name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

<ion-card>
  <div>
    <ion-searchbar animated="true" placeholder="Mascota" show-clear-button="focus" (ionChange)="buscar($event)"></ion-searchbar>
  </div>
  <div class="lista" *ngIf="!listallena">
    <ion-label >NO HAY ELEMENTOS EN LA LISTA</ion-label>
  </div> 

  <div *ngFor="let produto of results" [routerLink]="['/carnet/'+ produto.id]" >
    
    <app-vistamascotas [pro]="produto"></app-vistamascotas>
  </div>
</ion-card>

</ion-content>