<ion-app>
<ion-split-pane contentId="main">
  <ion-menu contentId="main" menuId="principal">
    <ion-header>
      <ion-toolbar>
        <ion-title class="subtitulo">
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- PRIMER BOTON DEL MENU-->
    <ion-content>
      <ion-menu-toggle autoHide="false">
        <ion-item button="true" [routerLink]="['/home']"  >
          <ion-label >
            Inicio
          </ion-label>
          <ion-icon class="iconos" name="home-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

    <!-- SEGUNDO BOTON DEL MENU-->
      <ion-menu-toggle autoHide="false">
        <ion-item button="true" [routerLink]="['/set-registro']"  >
          <ion-label >
            Registro de mascotas
          </ion-label>
          <ion-icon class="iconos" name="create-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

      <!-- Tercer BOTON DEL MENU-->
      <ion-menu-toggle autoHide="false">
        <ion-item button="true" [routerLink]="['/perfil']"  >
          <ion-label >
            Perfil
          </ion-label>
          <ion-icon class="iconos" name="person-circle-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-menu-toggle>


      <!-- Cuarto BOTON DEL MENU-->
      <ion-menu-toggle autoHide="false">
        <ion-item button="true" [routerLink]="['/registros']"  >
          <ion-label >
            Registro
          </ion-label>
          <ion-icon slot="end" class="iconos" name="document-text-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>

      
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
</ion-app>
