@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
.pie{
    background-color: #EBEBEB;
    height:75px;
}

ion-content {
    #map {
        pointer-events: none;
  opacity: 0.5;
        width: 100%;
        height: 35%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{ opacity: 1;
        }
      }

}

.textoinfo{
    color: #EBEBEB;
    font-size: large;
    font-family: 'Rampart One' !important;
}

.normal{
    
    font-size: 16px !important;
    font-weight: bold !important;
}

.descripcion{
    font-family: 'Courgette' !important;
    text-align:center ;
}

.imagen{
    width: 100%;
    height: 100%;
}
.save{
    position: relative;
    z-index: 2;
    font-size: 4em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color:hsl(51, 84%, 65%);
    justify-content: center;
    top: 5px;
    margin: 0px;
    padding: 0px;
    bottom: 30px;
    font-family: 'Bangers', cursive;
    transform: rotate(-4deg);
    text-shadow: 1px 1px hsl(51, 76%, 45%),
                 2px 2px hsl(51, 76%, 40%),
                 3px 3px hsl(51, 76%, 35%),//resta1 desde aqui
                 4px 4px hsl(51, 76%, 34%),
                 5px 5px hsl(51, 76%, 33%),
                 6px 6px hsl(51, 76%, 32%),
                 7px 7px hsl(51, 76%, 31%),
                 8px 8px hsl(51, 76%, 30%),
                 9px 9px hsl(51, 76%, 29%),
                 10px 10px hsl(51, 76%, 28%),
                 10px 10px 30px rgba(0,0,0,.9),
  }
  .derecha{
    left: 25px;
  }

  .izquierda{
    right: 45px;
  }

