<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      PETLIFE
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon class="iconos" name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon class="iconos" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--IMAGEN DE PORTADA-->
  <div style="padding: 15px; text-align: center;">
    <img src="assets/imagenes/portada.jpg">
  </div>


  <!--Servicios-->
  <div>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <img src="assets/imagenes/servicios.jpg">
        </ion-col>
        <ion-col style="text-align: center; background-color:#0b7c3d;color: #EBEBEB;">
          <div class="textoinfo">Contamos con todo lo que su mascota necesita para estar saludable,
            PETLIFE es la Clínica Veterinaria para TI.</div>
          <div style="text-align: right; padding-right: 15px; padding-left: 15px;padding-top: 10%;">
            <ion-button expand="block" color="light" class="normal" fill="outline" [routerLink]="['/perfil']">Crear
              cuenta</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!--Nuestros doctores-->
  <div>
    <div style="text-align: center;">
      <h1 class="save izquierda">Nuestros</h1>
      <h1 class="save derecha">Doctores!</h1>
    </div>

    <ion-item>
      <ion-grid>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <img class="imagen" src="assets/imagenes/alvaro.jpg">
          </ion-col>
          <ion-col>
            <img class="imagen" src="assets/imagenes/karen.jpg">
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <div class="descripcion">Hola mi nombre es Alvaro Sánchez Cedeño soy Médico Veterinario Zootecnista y
              cofundador de Pet Life 🐾
            </div>
          </ion-col>
          <ion-col>
            <div class="descripcion">Hola mi nombre es Karen Robayo soy Médica Veterinaria Zootecnista. Cofundadora de
              Pet Life. 🐾
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>

  <div>
    <img src="assets/imagenes/mascotas.png">
  </div>
  <div style="text-align: center;">
    <img src="assets/imagenes/portada1.jpg">
  </div>




  <div style="padding: 5%;">
    <ion-slides pager="true" style="height: 250px;">
      <ion-slide *ngFor="let comentario of comentarios">
        <ion-card style="margin: auto;">
          <ion-card-header>
            <ion-card-title>{{comentario.usuario}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{comentario.comentario}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <div style="text-align: center;">
      <ion-button color="success" fill="outline" (click)="agregarcomentario()">Agregar comentario</ion-button>
    </div>
  </div>

  <!--MISION-->
  <ion-card>
    <div style="text-align: center;font-size: 25px;padding-top: 25px; color:#0b7c3d">
      Mision
    </div>
    Brindar la tención médica y quirúrgica de alta calidad para los animales, con el objetivo de mejorar su salud y
    bienestar. Esto incluye la prevención y el tratamiento de enfermedades, así como la promoción de la salud general y
    la educación del propietario sobre el cuidado adecuado de sus mascotas.
    <div>
    </div>
  </ion-card>


  <!--VISION-->
  <ion-card>
    <div style="text-align: center;font-size: 25px;padding-top: 25px;color:#0b7c3d">
      Vision
    </div>
    <div>
      Aspirar a establecer una relación cercana y de confianza con sus pacientes y propietario, siendo líderes en el
      sector de la medicina veterinaria y posicionar a PETLIFE como la unidad hospitalaria privada
      más moderna y completa del Austro ecuatoriano.
    </div>
  </ion-card>

  <!--UBICACION-->

  <div style="text-align: center;font-size: larger;padding-top: 25px;margin: 0px;">
    Ubícanos
  </div>
  <div id="map"></div>

  <!--Pie(REDES SOCIALES)-->
  <div style="text-align: center; background-color: #EBEBEB;padding-top: 10px;">

    <a style="margin: 5px;color: #0b7c3d;" href="https://www.instagram.com/petlifeec/ ">
      <ion-icon style=" font-size: 35px;" name="logo-instagram"></ion-icon>
    </a>

    <a style="margin: 5px;color: #0b7c3d;" href="https://www.facebook.com/PetLife.CentroVeterinario">
      <ion-icon style=" font-size: 35px;" name="logo-facebook"></ion-icon>
    </a>

    <a style="margin: 5px;color: #0b7c3d;"
      href="https://api.whatsapp.com/send?phone=593986580784&text=Hola,%20quisiera%20comunicarme%20con%20alguien">
      <ion-icon style=" font-size: 35px;" name="logo-whatsapp"></ion-icon>
    </a>
  </div>

</ion-content>



<ion-footer>


</ion-footer>