<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Mascostas
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="buscar"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="lista" *ngIf="!listallena">
      <ion-label>NO HAY ELEMENTOS EN LA LISTA</ion-label>
    </div>
    <div *ngFor="let producto of productos" [routerLink]="['/mascotas/'+uid + '/perfilesmascotas/'+ producto.id]">
      <app-vistamascotas [pro]="producto"></app-vistamascotas>
    </div>
  </ion-card>
  
</ion-content>