<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Mascostas
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="buscar"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let producto of productos" [routerLink]="['/mascotas/'+uid + '/perfilesmascotas/'+ producto.id]">
    <div style="padding-top: 5px; padding-bottom: 5px;">
      <img class="image" [src]="producto.foto" height="75" width="75">
    </div>
    <div style="padding-left: 100px;">
      <ion-label class="normal"> {{producto.nombredelamascota}}</ion-label>

    </div>
  </ion-item>
</ion-content>