<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Reporte de citas generales
    </ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="citasge"> </ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="normal">
      Desde:
    </ion-label>
    <ion-datetime-button datetime="date2"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime (ionChange)="fechaescogida()" [max]="today" [(ngModel)]="desde" displayFormat="YYYY-MM-DD"
          minuteValues="0" id="date2" presentation="date" [showDefaultButtons]="true" doneText="Listo"
          cancelText="Cancelar"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-item *ngIf="desdeescogido">
    <ion-label class="normal">
      Hasta:
    </ion-label>
    <div>
      <ion-datetime-button datetime="date1"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [value]="desde" [min]="desde" displayFormat="YYYY-MM-DD" minuteValues="0" id="date1"
            [(ngModel)]="hasta" presentation="date" [showDefaultButtons]="true" doneText="Listo"
            (ionChange)="hastaescogido()" cancelText="Cancelar"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
  </ion-item>

  <div style="padding-top: 15px; text-align: center;">
    <ion-button [disabled]="desbloquearboton" shape="round" class="botongenerar" (click)="generarpdf()">Generar
      Reporte</ion-button>
  </div>



  <div *ngIf="mostrarreporte" id="asd">
    <ion-card>
      <ion-item *ngFor="let cita of Citas">
        <img slot="start" [src]="cita.foto_cita" height="65" width="65" style="border-radius: 50%; padding: 5px;">
        <ion-label>
          <h1>{{cita.namepet }} </h1>
          <p>Estado: {{cita.estadodelacita}} </p>
          <p>Fecha: {{cita.fecha_cita | date:'dd-MM-yyyy' }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
    <br>
    <div>

      <ion-label style="padding-left: 20px;padding-top: 20px;">
        Total de Citas en el reporte: {{Citas.length}}
      </ion-label>
      
      <div style="padding-top: 15px; text-align: right;padding-right: 25px;" >
        <ion-button [disabled]="desbloquearboton" shape="round" class="botongenerar" (click)="pdf()">Descargar
          PDF</ion-button>
      </div>

    </div>
  </div>
  <!-- 
  <pdf-viewer [src]="pdfObj" [render-text]="true" [original-size]="false"
    style="width: 400px; height: 500px"></pdf-viewer>-->

</ion-content>