<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Configuracion de registros
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: end; margin: 10px;">
    <ion-button (click)="nuevo()" class="normal" color="dark"> nuevo</ion-button>
  </div>


  <div *ngIf="enableNewProducto">



    <!-- boton para cerrar vista y guardar-->
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="enableNewProducto = false">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="guardarProducto() ">
          <ion-icon color="primary" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <h3 class="subtitulo encabezado">Ingreso de datos</h3>

    <!--Nombre de la mascota-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Nombre de la mascota:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.nombredelamascota" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--Tutor:-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Tutor:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.tutor" class="texto" type="text"> 
      </ion-input>
    </ion-item>

    <!--Fecha de nacimiento:-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Fecha de nacimiento:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.fechadenacimiento" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--Especie:-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Especie:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.especie" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--  Sexo:-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Sexo:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.sexo" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--Telefono tutor-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Telefono tutor:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.tutor" class="texto" type="text"> 
      </ion-input>
    </ion-item>

    <!--Foto-->
    <ion-item>
      <ion-label class="normal">
          Foto:
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
           <label for="file-upload">
             <ion-icon slot="icon-only" name="images"></ion-icon>
           </label>
            <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <img class="image"  [src]="newProducto.foto">
    </ion-item>


  </div>




  <!--VISUALIZACION DE LISTA DE REGISTROS-->
  <h3 class="subtitulo encabezado">Lista de Productos</h3>
  <div class="lista" *ngIf="!listallena">
    <ion-label >NO HAY ELEMENTOS EN LA LISTA</ion-label>

  </div>

  
  <ion-item *ngFor="let producto of productos">
    <ion-label class="normal"> {{producto.nombredelamascota}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)=" newProducto =  producto; enableNewProducto = true; ">
        <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteProducto(producto)">
        <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>


</ion-content>