<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Registro de mascotas
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon class="iconos" name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: end; margin: 10px;">
    <ion-button (click)="nuevo()" class="normal" color="medium"> nuevo</ion-button>
  </div>


  <div *ngIf="enableNewProducto">
    <!-- boton para cerrar vista y guardar-->
    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="enableNewProducto = false">
          <ion-icon color="danger" slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="guardarProducto() ">
          <ion-icon color="success" slot="icon-only" name="save-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <h3 class="subtitulo encabezado">Ingreso de datos de la mascota</h3>

    <!--Nombre de la mascota-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Nombre de la mascota:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.nombredelamascota" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--Tutor:-->
    <ion-item>
      <ion-label class="normal">Tutor</ion-label>
      <ion-select #valor required placeholder="{{newProducto.tutor}}" [value]=newProducto.tutor interface="popover"
        [(ngModel)]="nomusuescogido" (ionChange)="cambiousu(nomusuescogido)">
        <ion-select-option *ngFor="let usuario of usuarios">{{usuario.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="normal">
        Fecha de nacimiento:
      </ion-label>

      <ion-datetime-button datetime="date"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="date" presentation="date" [(ngModel)]="newProducto.fechadenacimiento"
            [showDefaultButtons]="true" doneText="Listo" cancelText="Cancelar"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!--Especie:-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Especie:
      </ion-label>
      <ion-input [(ngModel)]="newProducto.especie" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--Telefono tutor-->
    <ion-item>
      <ion-label class="normal" position="floating">
        Telefono :
      </ion-label>
      <ion-input [(ngModel)]="newProducto.telefonotutor" class="texto" type="text">
      </ion-input>
    </ion-item>

    <!--  Sexo:-->
    <ion-item>
      <ion-label class="normal">Sexo</ion-label>
      <ion-select #valor required placeholder="{{newProducto.sexo}}" [value]="newProducto.sexo" interface="popover"
        class="normal" [(ngModel)]="opcion" (ionChange)="cambio(opcion)">
        <ion-select-option value="Macho">Macho</ion-select-option>
        <ion-select-option value="Hembra">Hembra</ion-select-option>
      </ion-select>
    </ion-item>



    <!--Foto-->
    <ion-item>
      <ion-label class="normal">
        Foto:
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="image-outline"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <img class="img" [src]="newProducto.foto">
    </ion-item>


  </div>




  <!--VISUALIZACION DE LISTA DE REGISTROS-->

  <h3 class="subtitulo encabezado">Lista de Mascotas</h3>
  <div>
    <ion-searchbar animated="true" placeholder="Duenio" show-clear-button="focus"
      (ionChange)="buscar($event)"></ion-searchbar>
  </div>
  <ion-accordion-group expand="inset"   >
    <ion-accordion *ngFor="let usua of results" (click)="onClick(usua.uid)"   >
      <ion-item slot="header" color="light"  >
        <ion-label id="label" >{{usua.nombre}}</ion-label >
      </ion-item>
      <div class="lista" *ngIf="!listallena" slot="content" style="padding: 3px;">
        <ion-label>NO HAY ELEMENTOS EN LA LISTA</ion-label>
      </div>

      <div class="ion-padding" slot="content" >
        <ion-item *ngFor="let producto of productos"  >
          <img class="image" [src]="producto.foto" height="75" width="75" style="border-radius: 50%; padding: 5px;">
          <div style="padding-left: 0.8%">
            <ion-label class="normal">Nombre: {{producto.nombredelamascota}}</ion-label>
            <ion-label>Raza: {{producto.especie}} </ion-label>
          </div>
          <ion-buttons slot="end">
            <ion-button (click)=" newProducto =  producto; enableNewProducto = true; ">
              <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteProducto(producto)">
              <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>