<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      Recuperar contrasena
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 10%;">
    <ion-item>
      <h2>Por favor ingrese un correo electronico para restablecer la contrasena</h2>
      <ion-label class="normal" position="floating">
        Correo
      </ion-label>
      <ion-input type="text" #email requied  [(ngModel)]="correo" class="texto">
      </ion-input>

      <div style="text-align: right;">
        <ion-button routerLink="/perfil" style="--background: #eb3939;"  shape="round"
         >Cancelar</ion-button>
        <ion-button style="--background: #40af42;" shape="round" (click)="resetpassword(email)" 
          >Enviar</ion-button>
      </div>

    </ion-item>
  </ion-card>

</ion-content>